<footer class="mastfoot mt-auto">
  <div class="inner">
    <p><a href="https://twitter.com/mdo">© 2019</a> | Trika Technologies <a href="https://getbootstrap.com"></a>| All rights are reserved.</p>
  </div>
</footer>
