<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li> <%= link_to 'Home', blogs_path, class: "breadcrumb-item" %> / </li>
		<li> <%= link_to @blog.title, class: "breadcrumb-item active" %> </li>
	</ol>
</nav>		