
<div class="card" id="sortable_<%= port_item.id %>">
  <%=image_tag port_item.thumb_image unless port_item.thumb_image.nil?%>
  <p class="card-text">
    <span><%= link_to port_item.title, portfolio_show_path(port_item) %></span> <%= port_item.subtitle %>
  </p>
</div>