<h1>Portfolio items</h1>
<% @portfolio_items.each do |port_item| %>
		<p><%=port_item.title %></p>
		<p><%=port_item.subtitle %></p>
		<p><%=port_item.body %></p>
		<p><%=image_tag port_item.thumb_image unless port_item.thumb_image.nil?%></p>


<%end%>