<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-7">
    <h3>Office Address</h3>

    <p>1223 Brookefield Rd, Bangalore, KA 94839</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "9398274181" %></p>

    <h3>Email</h3>

    <p><a href="sathyteja@trikatechnologies,com" "Email me">Email me</a> </p>
  </div>

  <div class= "col-md-5">
  	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15552.22755724086!2d77.7054493701771!3d12.968211553728288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x62e339c426312e20!2sGopalan+Coworks%2CWhitefield!5e0!3m2!1sen!2sin!4v1562132624758!5m2!1sen!2sin" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>

<%= render 'layouts/shared/application_footer'%>
