<h1>Hi! <%=current_user.first_name if current_user%></h1>
<h3>
	This is Blog content 
</h3>
<%=@posts.inspect %>
<hr>
<h4>
	This is Skill model content	
</h4>
<%= @skills.inspect%>
<hr>
<p>	You are in "<%= current_user.class%>" class</p>